---
export interface Props {
    name: string;
    logo: string;
    website: string;
}

const { name, logo, website } = Astro.props;
---

<div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
    <a href={website} target="_blank">
        <img
        src={logo}
        width="100"
        height="60"
        alt={name}
        class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
    </a>
</div>