---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---
<section id="o-nas" class="relative pt-32 lg:pt-36">
    <Container className="flex flex-col lg:flex-row gap-10 lg:gap-12">
        <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
            <Title>
                O 
                <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">
                    NÁS
                </span>
            </Title>
            <Paragraph className="mt-8">
                Prodat kolo z řady a odvést Vás k pokladně – to dokáží kdekoli. Rozdíl
                mezi „podavači“ a prodavači poznáte snadno. Prodavači mají zkušenosti,
                vědomosti, ale hlavně chuť se s Vámi o obojí podělit. A právě takové
                lidi najdete v naší prodejně. Naším cílem je maximálně Vám pomoci s
                výběrem toho nejvhodnějšího kola či doplňků. Pokud se na nás obrátíte s
                žádostí o radu, nejdříve si vyslechneme vaše požadavky a poté vám
                navrhneme nejvhodnější řešení. Chceme, abyste se k nám rádi vraceli.
                Proto pracujeme na tom, aby naše služby byly stále lepší a kvalitnější.
            </Paragraph>
            <Paragraph className="mt-8">
                Máme více než třicetiletou zkušenost s prodejem a servisem jízdních kol
                - poskytujeme širokou kolekci kol střední a vyšší trídy - provádíme
                záruční i pozáruční servis na všechna cyklistická kola - vedeme skladem
                široký sortiment náhradních dílů k jednotlivým značkám a modelům kol -
                případné reklamace se u nás vřizují v řádech dnů - naši technici jsou
                odborně vyškoleni u výrobců kol a dokáží Vám odborně poradit a také
                vysvětlit, jak předejít nebo odstranit případné závady. Každoročně od
                podzimu na Vás v prodejně Cyklo Vačkář čekají nové modely kol pro
                závodní a sportovní jízdu. Méně nároční cyklisté tu najdou široký
                sortiment kol pro volný čas. Spolu s nimi je pro Vás připraven kompletní
                sortiment kvalitních cyklistických doplňků, oblečení a obuvi.
            </Paragraph>
        </div>

        <div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl">
            <img src="/images/woman-with-bicycle.jpg" alt="Aktuality image" width="2350" height="2359" class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96">
        </div>
    </Container>

</section>