---
import Navitem from "../shared/Navitem.astro";

const navItems = [
  {
    href: "#",
    text: "Home",
  },
  {
    href: "#aktuality",
    text: "Aktuality",
  },
  {
    href: "#servis",
    text: "Servis",
  },
  {
    href: "#znacky",
    text: "Znacky",
  },
  {
    href: "#o-nas",
    text: "O nás",
  },
  {
    href: "#kontakt",
    text: "Kontakt",
  },
  {
    href: "#features",
    text: "Features",
  },
  {
    href: "#cta",
    text: "CTA",
  },
];
---

<header class="bg-white sticky top-0 z-10 shadow shadow-box-shadow py-4">
  <div class="container mx-auto px-4 flex items-center justify-between">
    <a href="#" class="flex items-center gap-2">
      <img src="/images/logo.png" alt="Logo Cyklo Vackar" class="h-8 w-auto" />
    </a>
    <nav>
      <ul class="hidden md:flex gap-6 text-heading-2">
        {navItems.map(item=>{
            return <Navitem {...item}/>
            })
        }
      </ul>
    </nav>
    <!-- Todo: Implement mobile menu 
        <button class="md:hidden">Menu</button>
    -->
  </div>
</header>